<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog Uygulaması</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li><a href="/Blog/List">Bloglar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            @*eger bloklarda sag ve sol kolon ayrıldıysa sayfa yapısını otomatık sag ve sol kolon*@
            @*@section sagkolon{} diyerek de tanımlama yapılır*@

                @if (IsSectionDefined("sagkolon"))//içerik sayfaarıına baglı dıvlerı kontrol eder
                {
                    <div class="col-md-8">
                        @RenderBody()

                    </div>
                    <div class="col-md-4">
                        @RenderSection("sagkolon")

                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        @RenderBody()

                    </div>
                }


            </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Blog Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
